<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mydiary">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyDiary">
        <activity android:name=".activity.SearchActivity"></activity>
        <activity android:name=".activity.DetailDiaryActivity" />
        <activity android:name=".activity.WriteDiaryActivity" />
        <activity
            android:name=".activity.StartActivity"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ConfirmResetPassActivity"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".activity.ResetPassActivity"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".activity.SignupActivity"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/FullScreen" />
        <activity android:name=".activity.MainActivity"></activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.mydiary.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
</manifest>